html,
body {
  height: 100%;
}

body {
  margin: 0;
  cursor: default;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body:before {
  content: '';
  width: 0;
  height: 100%;
}

body.caps-lock {
  text-transform: uppercase;
}

main {
  max-width: 920px;
  font-size: 0;
  white-space: normal;
}

main,
body:before {
  display: inline-block;
  vertical-align: middle;
}

main span {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
  transition: background .2s ease;
}

main span:hover,
main span.hover {
  background: #ddd;
}

form {
  position: absolute;
  top: 20px;
  left: 20px;
}

.char--small {
  font-size: 25px;
}

.char--bar {
  display: inline-block;
  width: 300px;
  height: 20px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.output {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#input {
  width: 100%;
  padding: 10px;
  border: 0;
  font-size: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#input:focus {
  outline: 0;
}
